.body{
    background-color: beige;
}
.head {
    text-align: center;
}
.reg{
    text-align: center;
}
@media(max-width: 600px){
    body{
        font-size: 16px;
    }
    form{
        padding: 10px;
    }
} 